.page-title {
  font-size: 22px;
  font-weight: 600;
  color: #0b3a82;
}

/* TABS */
.course-tabs {
  display: flex;
  gap: 12px;
  margin-bottom: 10px;
}

.course-tabs button {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  background: #fff;
  cursor: pointer;
}

.course-tabs button.active {
  background: #0b3a82;
  color: #fff;
  border-color: #0b3a82;
}

/* CARD */
.card {
  background: #fff;
  border-radius: 14px;
  padding: 16px;
  color: #0b3a82;
  border: 1px solid #e6edf5;
  margin-top: 10px;
}

/* MODULE CARD */
.module-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 10px;
  margin-top: 14px;
}

.module-left {
  display: flex;
  gap: 14px;
}

.module-left img {
  width: 50px;
  height: 50px;
  align-self: center;
  border-radius: 8px;
}

.meta {
  display: flex;
  gap: 14px;
  font-size: 13px;
  color: #6b7280;
}

/* BUTTON */
.primary-btn {
  background: #0b3a82;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 40%;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th {
  text-align: left;
  font-size: 13px;
  color: #6b7280;
  padding-bottom: 10px;
}

td {
  padding: 14px 0;
  border-bottom: 1px solid #e5e7eb;
  font-size: 14px;
}

td.link {
  color: #0b3a82;
  font-weight: 500;
  cursor: pointer;
}

.red {
  color: #ef4444;
  font-weight: 600;
}

.orange {
  color: #f59e0b;
  font-weight: 600;
}
.align{
    text-align: center;
}