<div class="header-wrapper">

  <!-- ================= HEADER ================= -->
  <div class="header-container">
    <h2 class="management-header">Course Management</h2>

    <!-- Button shows ONLY when list view is active -->
    <button
      class="header-btn"
      *ngIf="!showCreateForm"
      (click)="openCreateForm()"
    >
      <span class="plus">+</span>
      <span>Create New Course</span>
    </button>
   <!-- <h1>{{getUserId()}}</h1> -->
  </div>

  <hr class="divider" />

  <!-- ================= LIST VIEW (CARDS + TABLE) ================= -->
  <ng-container *ngIf="!showCreateForm">

    <!-- Cards -->
    <div class="cards-container">
      <div class="card" *ngFor="let card of cards">
        <div class="card-header">
          <div class="icon">
            <img [src]="card.image" alt="icon" />
          </div>
          <div class="title">{{ card.title }}</div>
        </div>

        <div class="card-body">
          <div class="value">{{ card.value }}</div>

          <span
            *ngIf="card.badgeText"
            class="badge"
            [ngClass]="card.badgeType"
          >
            {{ card.badgeText }}
          </span>
        </div>

        <div class="card-footer">
          Update: Last updated today
        </div>
      </div>
    </div>

    <!-- Table -->
    <div class="table-wrapper">
      <div class="table-header">
        <h3>Courses Overview</h3>

        <div class="table-actions">
          <img src="filter.png" alt="filter" />

          <div class="search-box">
            <input placeholder="Search using Name, ID" />
          </div>
        </div>
      </div>

      <table class="course-table">
        <thead>
          <tr>
            <th>Course Name</th>
            <th>Course ID</th>
            <th>Course Category</th>
            <th>Course Duration</th>
            <th>Training Mode</th>
            <th>Total Module</th>
            <th>Status</th>
            <th>Edit</th>
          </tr>
        </thead>

        <tbody>
         <tr *ngFor="let course of courses">

            <td class="course-name">
              <img [src]="course.coursecategory" alt="course" />
              <div>
                <p class="title">{{ course.coursename }}</p>
                <p class="desc">{{ course.coursedesc }}</p>
              </div>
            </td>

            <td class="link">{{ course.courseid }}</td>
            <td>{{ course.coursecategory }}</td>
            <td>{{ course.courseduration }}</td>
            <td>{{ course.trainingmode }}</td>
            <td>{{ course.noofmodule }}</td>
            <td>
              <span
                class="status"
                [class.published]="course.certificateavalibility === 'Published'"
                [class.unpublished]="course.certificateavalibility === 'Unpublished'"
              >
                {{ course.certificateavalibility }}
              </span>
            </td>

            <td class="edit">
              <img src="edit.png" alt="edit" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    

  </ng-container>

  <!-- ================= CREATE COURSE VIEW ================= -->
  <ng-container *ngIf="showCreateForm">
<div class="course-card">
   <div class="breadcrumb">
   <span>All Courses &gt;</span> <strong class="header-head">Create New Course</strong>
</div>
 
<h3 class="section-title">Course Details</h3>
 

 
  <!-- THUMBNAIL -->
 <div class="photo-upload">
      <label>Trainer Photo *</label>
 
      <div class="photo-box" (click)="photoInput.click()">
        <ng-container *ngIf="!photoPreview">
          <i class="fa-solid fa-camera"></i>
        </ng-container>
 
        <img
          *ngIf="photoPreview"
          [src]="photoPreview"
          class="photo-preview"
        />
      </div>
 
      <input
        type="file"
        accept="image/*"
        hidden
        #photoInput
        (change)="onCourseFileSelect($event)"
        required
      />
 
      <!-- <small class="error" *ngIf="trainerForm.submitted && !photoPreview">
        Trainer photo is required
      </small> -->
    </div>
 
  <!-- FORM -->
  <div class="form-grid">
 
    <div class="form-group">
      <label>Course ID <span class="required">*</span></label>
      <input type="text" [value]="course.courseid" disabled />
    </div>
 
    <div class="form-group">
      <label>Course Name <span class="required">*</span></label>
      <input type="text" placeholder="Enter Course Name" [(ngModel)]="course.coursename" />
    </div>
 
    <div class="form-group full">
      <label>Course Description <span class="required">*</span></label>
      <input type="text" placeholder="Enter Description" [(ngModel)]="course.coursedesc" />
    </div>
 
    <div class="form-group">
      <label>Course Category <span class="required">*</span></label>
      <select [(ngModel)]="course.coursecategory">
        <option value="">Select Category</option>
        <option>Technology</option>
        <option>Management</option>
        <option>Design</option>
      </select>
    </div>
 
    <div class="form-group">
      <label>Course Duration <span class="required">*</span></label>
      <select [(ngModel)]="course.courseduration">
        <option>1 Month</option>
        <option>3 Months</option>
        <option>6 Months</option>
        <option>12 Months</option>
      </select>
    </div>
 
    <div class="form-group">
      <label>Training Mode <span class="required">*</span></label>
      <select [(ngModel)]="course.trainingmode">
        <option>Online</option>
        <option>Recorded Session</option>
      </select>
    </div>
 
    <div class="form-group">
      <label>Course Level <span class="required">*</span></label>
      <select [(ngModel)]="course.courselevel">
        <option>Beginner</option>
        <option>Intermediate</option>
        <option>Advanced</option>
      </select>
    </div>
 
    <div class="form-group">
      <label>Language of Instruction <span class="required">*</span></label>
      <select [(ngModel)]="course.language">
        <option>Arabic</option>
        <option>English</option>
        <option>Urdu</option>
      </select>
    </div>
 
    <div class="form-group">
      <label>Certification Availability <span class="required">*</span></label>
      <select [(ngModel)]="course.certificateavalibility">
        <option>Yes</option>
        <option>No</option>
      </select>
    </div>
 
   <div class="form-group">
  <label>No of Modules <span class="required">*</span></label>
 <select [(ngModel)]="course.moduleCount">
  <option [ngValue]="1">1</option>
  <option [ngValue]="2">2</option>
  <option [ngValue]="3">3</option>
  <option [ngValue]="4">4</option>
  <option [ngValue]="5">5</option>
</select>

</div>
 
  </div>
 
  <!-- FOOTER -->
 

            <button (click)="openAddModules()" class="module-button">
  Add Modules
</button>
<!-- <div *ngIf="showModules">
  <div *ngFor="let module of modulesArray; let i = index" class="module-box">
    <h4>Module {{ i + 1 }}</h4>

    <input
      type="text"
      [(ngModel)]="module.title"
      placeholder="Module Title"
    />

    <textarea
      [(ngModel)]="module.description"
      placeholder="Module Description"
    ></textarea>
  </div>
</div> -->

<app-add-modules
  *ngIf="showAddModules"
  [moduleCount]="course.moduleCount"
  (modulesAdded)="onModulesAdded($event)">
</app-add-modules>

 
</div>

  </ng-container>

</div>
