

/* Breadcrumb */
.breadcrumb {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: 700;
}

.breadcrumb .arrow {
  margin: 0 6px;
  color: #94a3b8;
    font-weight: 700;
  font-size: 18px;
}

.breadcrumb .active {
  color: #0b3ea8;
  font-weight: 700;
  font-size: 18px;
}

/* Card */
.card {
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  padding: 18px;
}

.card-title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 14px;
}

/* Form Grid */
.form-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.form-group label {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 6px;
   color: #94a3b8;
  display: block;
}

.form-group input {
  height: 36px;
  border-radius: 4px;
  border: 1px solid #d1d5db;
  padding: 0 10px;
  font-size: 13px;
  background: #f9fafb;
}

/* Section */
.section-title {
  margin: 22px 0 10px;
  font-size: 15px;
  font-weight: 700;
}

/* Tabs */
.tabs {
  display: flex;
  gap: 16px;
  border-bottom: 1px solid #e5e7eb;
  margin-bottom: 12px;
}

.tabs button {
  background: none;
  border: none;
  padding: 8px 0;
  font-size: 13px;
  cursor: pointer;
}

.tabs button.active {
  border-bottom: 2px solid #0b3ea8;
  color: #0b3ea8;
  font-weight: 600;
}

/* Table */
.table-wrapper table {
  width: 100%;
  border-collapse: collapse;
}

.table-wrapper th,
.table-wrapper td {
  padding: 12px;
  font-size: 13px;
  border-bottom: 1px solid #f1f5f9;
  text-align: center;
}

.table-wrapper th:first-child,
.table-wrapper td:first-child {
  text-align: left;
}

.link {
  color: #0b3ea8;
  font-weight: 600;
}

.updated {
  color: #0b3ea8;
  font-weight: 600;
}

.actions i {
  margin: 0 6px;
  cursor: pointer;
}

/* Footer */
.actions-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
}

.danger-outline {
  border: 1px solid #ef4444;
  color: #ef4444;
  height: 40px;
  width: 150px;
  background: #fff;
  padding: 6px 14px;
  border-radius: 4px;
}

.right-actions {
  display: flex;
  gap: 12px;
}

.btn-outline {
  border: 1px solid #1f2937;
  background: #fff;
  height: 40px;
  width: 100px;
  padding: 6px 16px;
  border-radius: 4px;
}

.btn-primary {
  background: #0b2f6a;
  color: #fff;
  border: none;
  height: 40px;
  width: 150px;
  padding: 6px 16px;
  border-radius: 4px;
}