<div class="page">

  <!-- PAGE BACKGROUND -->
  <div class="page-bg">
    <div class="page-bg-left"></div>
    <div class="page-bg-right"></div>
  </div>

  <!-- LOGIN CARD -->
  <div class="login-card">

    <!-- LEFT SIDE -->
    <div class="card-left">

      <!-- LOGO + TITLE -->
      <div class="brand">
        <img src="/lmslogo.png" class="logo" />
        <h1>AI Bayan Learning</h1>
      </div>

      <h2 class="subt">Set A Password</h2>
      <p class="subtitle">
        Your previous password has been reseted.Please set a new password for your account.
      </p>
   

      <!-- PASSWORD -->
        <form  #newpasswordForm="ngForm" (ngSubmit)="onSubmit()">
             <p *ngIf="message" [ngClass]="{'error-message': message!=='something went wrong', 'success-message': message==='password updated'}" class="message">
        {{ message }}
      </p>
      <fieldset class="input-field password-field">
        <legend>Create Password</legend>
        <input [type]="showPassword ? 'text' : 'password'" type="password" name="password" placeholder="Create a new Password" [(ngModel)]="newpassword.createpassword" />
        <span class="eye" (click)="togglePassword()"></span>
      </fieldset>

      <fieldset class="input-field password-field">
        <legend>Re-enter Password</legend>
        <input type="password" name="password" [type]="showPassword ? 'text' : 'password'"  placeholder="Enter the Password again" [(ngModel)]="newpassword.confirmPassword" />
        <span class="eye" (click)="togglePassword()"></span>
      </fieldset>
      <button
        type="submit"
        [disabled]="loading"
        class="login-btn"
      >
        <span *ngIf="!loading">Set Password</span>
        <span *ngIf="loading" class="loader-wrapper">
          <span class="loader"></span>
         Updating your credentials…
        </span>
      </button>
</form>
    </div>

    <!-- RIGHT IMAGE -->
    <div class="card-right"></div>

  </div>

</div>