/* HEADER */
.dashboard-title {
  font-size: 22px;
  font-weight: 600;
  color: #0b3a82;
  margin-bottom: 10px;
}

/* TOP BAR */
.dashboard-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* MONTH BUTTON */
.month-btn {
  background: #0b3a82;
  color: #ffffff;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
 
/* card */
.card {
  background: #ffffff;
  border: 1px solid #e5edf6;
  border-radius: 12px;
  padding: 14px 16px;
}
 
/* header */
.card-header {
  display: flex;
  align-items: center;
  gap: 10px;
}
 
.card-header .icon {
  width: 32px;
  height: 32px;
  background: #f2f6fb;
  border-radius: 6px;
 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
 
.card-header .title {
  font-size: 14px;
  font-weight: 500;
  color: #0f172a;
}
 
/* body */
.card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}
 
.value {
  font-size: 25px;
  font-weight: 600;
  color: #020617;
}
 
/* badge */
.badge {
  font-size: 11px;
  padding: 4px 8px;
  border-radius: 6px;
  white-space: nowrap;
}
 
.badge.info {
  background: #e8f0fb;
  color: #1e40af;
}
 
.badge.success {
  background: #eaf7ec;
  color: #16a34a;
}
 
.badge.danger {
  background: #ffecec;
  color: #dc2626;
}
 
.icon {
  width: 32px;
  height: 32px;
  background: #f2f6fb;
  border-radius: 6px;
 
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.icon img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}
 
 
/* footer */
.card-footer {
  margin-top: 12px;
  padding-top: 8px;
  border-top: 1px solid #eaeef4;
  font-size: 12px;
  color: #9ca3af;
}
.table-card {
  background: #fff;
  border: 1px solid #e5edf6;
  border-radius: 12px;
  padding: 18px;
  margin-top: 24px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}
.table-footer{
  margin-top: 1%;
}
.search-input {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  width: 260px;
}

.attendance-table {
  width: 100%;
  border-collapse: collapse;
}

.attendance-table th,
.attendance-table td {
  padding: 14px 10px;
  border-bottom: 1px solid #f1f5f9;
  text-align: left;
  font-size: 14px;
}

.profile-img {
  width: 42px;
  height: 42px;
  border-radius: 8px;
  object-fit: cover;
}

.active {
  color: #0b3a82;
  font-weight: 600;
}

.inactive {
  color: red;
  font-weight: 600;
}

.edit-icon {
  color: #0b3a82;
  cursor: pointer;
}
