.page-wrapper {
  padding: 16px;
  background: #f8fafc;
}

/* Breadcrumb */
.breadcrumb {
  font-size: 14px;
  margin-bottom: 14px;
}

.breadcrumb .arrow {
  margin: 0 6px;
  color: #94a3b8;
}

.breadcrumb .active {
  color: #0b3ea8;
  font-weight: 600;
}

/* Card */
.card {
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  padding: 18px;
}

.card-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #0f172a;
}

/* Form Grid */
.form-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #1f2937;
   /* color: #94a3b8; */
}

.form-group label span {
  color: red;
}

/* Inputs */
.form-group input,
.form-group select {
  height: 38px;
  border-radius: 4px;
  border: 1px solid #d1d5db;
  padding: 0 10px;
  font-size: 13px;
  background: #fff;
}

.form-group input::placeholder {
  color: #9ca3af;
}

/* Actions */
.actions {
  display: flex;
  justify-content: flex-end;
  gap: 14px;
  margin-top: 28px;
}

.btn-outline {
  padding: 8px 22px;
  border: 1px solid #1f2937;
  background: #fff;
  border-radius: 6px;
  cursor: pointer;
}

.btn-primary {
  padding: 8px 22px;
  background: #0b2f6a;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}